<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>location index</title>
</head>
<body>
    <h1>Real-Time Location Display Test</h1>
    <h2 id = "location">Waiting for location...</h2>
    <button onclick="connectWebSocket()">Connect WebSocket</button>
    <button onclick="sendLocation()">Fetch Location</button>
    <button onclick="stopTracking()"> stops fetching location </button>

    <div id='map-container'>
        <iframe 
        src=""
        id="map-frame"
        width="1000" 
        height="600" 
        style="border:0;" 
        loading="eager"
        frameborder="5">

    </iframe>

    <style>
        #map { 
            height: 50vh;
            width: 50vh; 
        }
    </style>
    <div id="map"></div>

    </div>

    <script>
        console.log('7.089953576246863, 79.88710594626576');
        console.log(window.location.host);
        let socket;

        function connectWebSocket() {
            socket = new WebSocket('wss://' + window.location.host + '/ws/location/');

            socket.onopen = function(e) {
                socket.send(JSON.stringify({
                    'type' : 'connection',
                    'status' : 'Connection established.'
                }))
            }

            socket.onmessage = function(e) {
                //console.log(e);
                data = JSON.parse(e.data)
                if (data.type == 'connection') {
                    console.log(data.status);
                }
                else if (data.type == 'location'){
                    console.log(
                        `latitude : ${data.latitude} \nlongitude : ${data.longitude} \n in_geofence : ${data.in_geofence}`
                    )
                }
                else{
                    console.log(
                        `Unknown message type: ${data.type}`
                    )
                }
            }

            socket.onclose = function () {
                console.log("WebSocket closed");
            };
        }
        


        function sendLocation(){
            if (!socket || socket.readyState !== WebSocket.OPEN) {
                alert("WebSocket is not connected")
                return 
            }

            let latitude;
            let longitude;
            let googlemap;
            let locationIntavelId;
            let watchId;

            fetchLocation();
            //setInterval(locationId, 2000);
            
            /*
            if (navigator.geolocation) {
            }
            else{
                alert("Geolocation is not supported by this browser.")
            }
            */
        }

        function fetchLocation() {
            document.getElementById("location").textContent = "Tracking started.";
            if (navigator.geolocation) {
                /*
                locationIntavelId = setInterval(() => {
                    navigator.geolocation.getCurrentPosition(
                        function(position) {
                            latitude = position.coords.latitude;
                            longitude = position.coords.longitude;
                            googlemap = 'https://www.google.com/maps?q=' + latitude + ',' + longitude + '&hl=es;z=14&output=embed';
                            document.getElementById('map-frame').src = googlemap
                            console.log('Accuracy (in meters):', position.coords.accuracy);

                            //console.log("Latitude: " + position.coords.latitude);
                            //console.log("Longitude: " + position.coords.longitude);
                            socket.send(JSON.stringify(
                                {
                                    "latitude": latitude,
                                    "longitude": longitude
                                }
                            ));
                        },
                        function(error) {
                            console.error("Error occurred: " + error.message);
                        },
                        {
                            enableHighAccuracy: true,
                            timeout: 2000,
                            maximumAge: 10000
                        }
                    );
                }, 2000);
                */

            
                
                watchId = navigator.geolocation.watchPosition(
                    function (position) {
                        latitude = position.coords.latitude;
                        longitude = position.coords.longitude;
            
                        googleMapUrl = `https://www.google.com/maps?q=${latitude},${longitude}&hl=es;z=14&output=embed`;
                        
                        document.getElementById('map-frame').src = googleMapUrl;
                        //console.log("Latitude: " + position.coords.latitude);
                        //console.log("Longitude: " + position.coords.longitude);
                        //console.log('Accuracy (in meters):', position.coords.accuracy);

                        socket.send(JSON.stringify({
                            'type': 'location',
                            'latitude': position.coords.latitude,
                            'longitude': position.coords.longitude
                        }))
    
                    },
                    function (error) {
                        switch (error.code) {
                            case error.PERMISSION_DENIED:
                                console.error("User denied the request for Geolocation.");
                                break;
                            case error.POSITION_UNAVAILABLE:
                                console.error("Location information is unavailable.");
                                break;
                            case error.TIMEOUT:
                                console.error("The request to get user location timed out.");
                                break;
                            case error.UNKNOWN_ERROR:
                                console.error("An unknown error occurred.");
                                break;
                        }
                    },
                    {
                        enableHighAccuracy: true,
                        timeout: 1000,
                        maximumAge: 0
                    }
                );
            }
            else{
                alert("Geolocation is not supported by this browser.")
            }
        }
        function stopTracking() {
            //document.getElementById("location").textContent = "Tracking stopped.";
            //clearInterval(locationIntavelId);
            if (watchId !== undefined) {
                navigator.geolocation.clearWatch(watchId);
                document.getElementById("location").textContent = "Tracking stopped.";
                console.log("Location tracking stopped.");
            }

            /*
            if (watchId) {
              navigator.geolocation.clearWatch(watchId);
             
            }
            */
        }
    </script>
</body>
</html>